@{
	ViewBag.Title = "About";
}
<div id="parallax">
	<h1>About</h1>
</div>
<div class="mapacal"></div>

		<!--<section id='contenedor_general'>
			</section>

			<section id='body'>
				<section id='scrolldown'>
					<p id='titulo'>Scroll Down</p>
					<p id='menorque'><</p>
				</section>

				<section id='seccion'>
				</section>
			</section>-->
