@{
	ViewBag.Title = "Home Page";
}
<!--TITULO-->
	<div>
		<!--Jumbotron-->
		<section id="titulo" class="jumbotron jumbotron-fm container-fluid">
			<h1 id="titulo" class="h1">Ecologia</h1>
			<p>Cambia tus pensamientos y cambiarás el mundo</p>
			<p style="font-family: 'Homemade Apple', cursive;">
				"El mundo no será destuido por los que hacen daño sino por los que ven y no hacen
				nada - Albert Einstein"
			</p>
		</section>
		<!--Jumbotron-->
	</div>
	<!--FINTITULO-->

	<!-- BOTONES DE INICIO--
<div class="mapacal1">
	<div class="contenedortarjeta">
		<a href="">
			<figure>
				<table class="tab1 frontal">
					<tr>
						<td class="td1">Nutrición</td>
						</tr>
					</table>
			<figcaption class="atras">
			<h2 class="titulo66">Nutición?</h2>
				<hr />
		   </figcaption>
			</figure>
		</a>
	</div>
	</div>
	<!-- BOTONES DE INICIO-->
	<div class="infomas">
		<h3 class="h5info"> Minimizá tu huella</h3>
		<div>
			<table class="tab1">
				<tr>
					<td class="td1">Nutrición</td>
					<td class="td1">Cambio climático y su impacto</td>
					<td class="td1">Noticias</td>
				</tr>
				<tr>
					<td class="td1">Economía circular</td>
					<td class="td1">Proyectos</td>
					<td class="td1">Tips</td>
				</tr>
				<tr>
					<td class="td1">Foro</td>
					<td class="td1">+</td>
					<td class="td1">Nosotros</td>
				</tr>
			</table>
		</div>
		<h5 class="h5infoo"><a href=""> + Información</a></h5>
	</div>
	<!-- FIN BOTONES DE INICIO-->
	<!--COLUMNAS-->
	<!--FINCOLUMNAS-->
	<!--SECCION 1: Historia Completa-->
	<div class="histo">
		<div class="col-md-4">
			<h2 class="histcomp">Como tener una vida más saludable</h2>
			<p>
				Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
				formulario N°1272.
				El sistema te mostrará los montos de las DDJJ de IVA de los tres últimos años de ejercicios cerrados y te solicitará que desagregues
				el total en base a las actividades en las que estés inscripto para poder enviar el formulario.
			</p>
			<!----<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
			<h2 class="histcomp">¿Por qué ser vegano?</h2>
			<p>
				Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
				formulario N°1272.
				El sistema te mostrará los montos de las DDJJ de IVA de los tres últimos años de ejercicios cerrados y te solicitará que desagregues
				el total en base a las actividades en las que estés inscripto para poder enviar el formulario.
			</p>
		</div>
		<div class="col-md-4">
			<h2 class="histcomp">¿Cómo nos afecta la contaminación?</h2>
			<p>
				Este certificado es el paso final y el documento indispensable para acceder a los programas de beneficios y para acreditar
				tu condición de “Micro, Pequeña y Mediana Empresa” frente a terceros.
				Luego de recibida la notificación con el resultado de la categorización, podrán descargar aquí su certificado MiPyME.
				La fecha de vigencia se encuentra impresa en cada certificado MiPyME y corresponde al último día del 3er mes posterior al cierre de
				ejercicio, pudiéndose renovar durante el transcurso de dicho mes realizando el trámite de recategorización y descarga de un nuevo
				certificado.
			</p>
			<h2 class="histcomp">Cómo adherirse al Registro MIPyME?</h2>
			<p>
				Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
				formulario N°1272.
			</p>
		</div>
		<div class="col-md-4">
			<h2 class="histcomp">¿Cómo Recategorizo a mi PyME?</h2>
			<p>
				Para recategorizar a tu empresa tenés que realizar los mismos pasos que hiciste para inscribirla como MiPyME por primera vez
				ingresando con clave fiscal al servicio web AFIP “PYMES - Solicitud de categorización y/o beneficios”. <br />
				Las empresas categorizadas antes del 28/02/2017 deberán presentare el nuevo Formulario 1272 según el mes de cierre de ejercicio.
			</p>
			<h2 class="histcomp">Cómo adherirse al Registro MIPyME?</h2>
			<p>
				Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
				formulario N°1272.
				El sistema te mostrará los montos de las DDJJ de IVA de los tres últimos años de ejercicios cerrados y te solicitará que desagregues
				el total en base a las actividades en las que estés inscripto para poder enviar el formulario.
			</p>
		</div>

	</div>

	<!--SECCION 2: CONTEO DE IMPACTO-->
	<div>
		<div class="tomate">
			<h3 class="h3fiesta">Cantidad de ---- por día</h3>
		</div>
	</div>

	<!-- SECCION 3: MAPA de IMPACTO-->
	<div class="mapacal">
	</div>

	<!-- SECCION 5: TARJETAS-->
	<div class="mapacal1">
		<div class="contenedortarjeta">
			<a href="">
				<figure>
					<img src="~/Content/Pinterest/21980403_273938823111349_9216804250175143936_n.jpg" style="width: 250px; height: 300px;" class="frontal" />
					<figcaption class="atras">
						<h2 class="titulo66">Cómo adherirse al Registro MIPyME?</h2>
						<hr />
						<p style="font-family: 'Coming Soon', cursive;">
							Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
							formulario N°1272.
						</p>
					</figcaption>
				</figure>
			</a>
		</div>
		<div class="contenedortarjeta">
			<a href="">
				<figure>
					<img src="~/Content/Pinterest/21689081_868343176655995_1013141626454802432_n.jpg" style="width: 250px; height: 300px;" class="frontal" />
					<figcaption class="atras">
						<h2 class="titulo66">Cómo adherirse al Registro MIPyME?</h2>
						<hr />
						<p style="font-family: 'Coming Soon', cursive;">
							Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
							formulario N°1272.
						</p>
					</figcaption>
				</figure>
			</a>
		</div>
		<div class="contenedortarjeta">
			<a href="">
				<figure>
					<img src="~/Content/Pinterest/Large (443).jpg" style="width: 250px; height: 300px;" class="frontal" />
					<figcaption class="atras">
						<h2 class="titulo66">Cómo adherirse al Registro MIPyME?</h2>
						<hr />
						<p style="font-family: 'Coming Soon', cursive;">
							Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
							formulario N°1272.
						</p>
					</figcaption>
				</figure>
			</a>
		</div>
		<div class="contenedortarjeta">
			<a href="">
				<figure>
					<img src="~/Content/Pinterest/21372392_1943328019288163_8824401039986786304_n.jpg" style="width: 250px; height: 300px;" class="frontal" />
					<figcaption class="atras">
						<h2 class="titulo66">Cómo adherirse al Registro MIPyME?</h2>
						<hr />
						<p style="font-family: 'Coming Soon', cursive;">
							Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
							formulario N°1272.
						</p>
					</figcaption>
				</figure>
			</a>
		</div>
		<div class="contenedortarjeta">
			<a href="">
				<figure>
					<img src="~/Content/Pinterest/21879442_292885554451590_8091276291795320832_n.jpg" style="width: 250px; height: 300px;" class="frontal" />
					<figcaption class="atras">
						<h2 class="titulo66">Cómo adherirse al Registro MIPyME?</h2>
						<hr />
						<p style="font-family: 'Coming Soon', cursive;">
							Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
							formulario N°1272.
						</p>
					</figcaption>
				</figure>
			</a>
		</div><div class="contenedortarjeta">
			<a href="">
				<figure>
					<img src="~/Content/Pinterest/21689156_1207135462764060_57756997914722304_n.jpg" style="width: 250px; height: 300px;" class="frontal" />
					<figcaption class="atras">
						<h2 class="titulo66">Cómo adherirse al Registro MIPyME?</h2>
						<hr />
						<p style="font-family: 'Coming Soon', cursive;">
							Ingresá a nuestro sitio web con Clave Fiscal al servicio “PYMES Solicitud de Categorización y/o beneficios” y completá el nuevo
							formulario N°1272.
						</p>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>


	<!--SECCION 4: -->
	<div class="foot">
		<br />
		<button id="op" type="button" class="btn btn-default" style="margin-left:12%;">A</button>
		<button type="button" class="btn btn-primary">B</button>
		<button type="button" class="btn btn-success">C</button>
		<button type="button" class="btn btn-info">D</button>
		<button type="button" class="btn btn-warning">E</button>
		<button type="button" class="btn btn-danger">F</button>
		<!----
		<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Buscar">
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
		</form>
		<div id="reloj">
			<body onload="mueveReloj()">
				<form name="form_reloj">
					<input type="text" name="reloj" size="10" style="float: right; background-color : black; color : white; font-family: 'Luckiest Guy', cursive; font-size : 17pt; text-align : center;" onfocus="window.document.form_reloj.reloj.blur()" />
				</form>
			</body>
		</div>-->
	</div>