@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InterPyME</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registrate &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>¿Por qué adherirse al Registro MIPyME?</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>¿Cómo adherirse al Registro MIPyME?</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>¿Qué es el Certificado MiPyME?</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
	<div class="col-md-3">
		<h2>¿Cómo Recategorizo a mi PyME?</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>
	<!--SECCION 1: CUALES SON PYMES-->
<div class="container histo">
	<div class="blog-post-title text-center"><h3 class="color">Principios basicos de Pyme</h3></div>
	<article>
		Se consideran PyMEs aquellas empresas que desarrollan actividades productivas en el país, cuyas ventas totales anuales en
		pesos no superan los siguientes montos según su categoría:
	</article>
	<article>
		<table class="table table-hover tabla">
			<thead>
				<tr>
					<th colspan="1"></th>
					<th class="color">Construcción</th>
					<th class="color">Servicios</th>
					<th class="color">Comercio</th>
					<th class="color">Ind. y Minería</th>
					<th class="color">Agropecuario</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="color">Micro</td>
					<td>$4.700.000</td>
					<td>$3.500.000</td>
					<td>$12.500.000</td>
					<td>10.500.000</td>
					<td>3.000.000</td>
				</tr>
				<tr>
					<td class="color">Pequeña</td>
					<td>$30.000.000</td>
					<td>$21.000.000</td>
					<td>$75.000.000</td>
					<td>$64.000.000</td>
					<td>$19.000.000</td>
				</tr>
				<tr>
					<td class="color">Mediana Tramo 1</td>
					<td>$240.000.000</td>
					<td>$175.000.000</td>
					<td>$630.000.000</td>
					<td>$520.000.000</td>
					<td>$230.000.000</td>
				</tr>
				<tr>
					<td class="color">Mediana Tramo 2</td>
					<td>$360.000.000</td>
					<td>$250.000.000</td>
					<td>$900.000.000</td>
					<td>$760.000.000</td>
					<td>$230.000.000</td>
				</tr>
			</tbody>
		</table>
	</article>
	<article>
		<p>Las ventas totales anuales son aquellas que surgen del promedio de los últimos tres ejercicios comerciales o años fiscales, excluyendo del cálculo el IVA, el impuesto interno que pudiera corresponder y deduciendo hasta el 50% del monto de las exportaciones.<p>
		<p>No serán consideradas PyME aquellas empresas que realicen las actividades detalladas en el cuadro B.</p>
		<ul class="text-center">
			<li style="list-style-type: square">Servicios de hogares privados que contratan servicio doméstico</li>
			<li style="list-style-type: square">Servicios de organizaciones y órganos extraterritoriales</li>
			<li style="list-style-type: square">Administracion publica defensa y seguridad social obligatoria</li>
			<li style="list-style-type: square">Servicios de esparcimiento relacionados con juegos de azar y apuestas</li>
		</ul>
	</article>
</div>
<!-- INFORMACION GENERAL-->
<div class="container histo1">
	<div class="blog-post-title"><h3 class="text-center">Presentación Única de Balances</h3></div>
	<article>
		<br>
		<h4>¿Qué es el PUB?</h4>
		<p>
			La Presentación Única de Balances (PUB) es una plataforma que le permite a las Micro, Pequeñas y Medianas Empresas inscriptas
			en el Registro de Empresas MiPyMES presentar mediante transferencia electrónica de datos sus Estados Contables en un mismo acto
			ante la AFIP y a la Secretaría de Emprendedores y PyMEs.
			<br />Además, autorizar a la AFIP a que la información se encuentre a disposición de otras entidades públicas o privadas
			debidamente identificadas. A tales efectos, las empresas deberán designar los organismos y otorgar su consentimiento para cada
			caso en particular.
		</p>
		<br />
		<h4>¿Es obligatoria?</h4>
		<p>
			A partir del 1 de junio de 2017 la utilización del servicio denominado “Presentación Única de Balances - (PUB)” es de uso
			obligatorio para las PyMEs con Estados Contables exigibles en reemplazo del servicio utilizado hasta el momento denominado
			“Transferencia electrónica de estados contables”.
		</p>
		<br />
		<h4>¿Cómo y cuándo realizar la presentación?</h4>
		<p>
			Para realizar la presentación de los Estados Contables, ingresá a nuestra página web con la clave fiscal, nivel de seguridad
			2 como mínimo, al servicio denominado “Presentación Única de Balances - (PUB)”.
			<br />Los Estados Contables deberán presentarse por cada período fiscal y hasta el último día del sexto mes siguiente al de
			cierre 	del ejercicio comercial correspondiente.
		<p>Para más información, podés consultar la Guía Paso a Paso.</p>
	</article>
</div>
<!-- NORMATIVAS-->